@inherits LayoutComponentBase

<div class="app-shell">
    <nav class="nav-main">
        <h1><a href="#" style="color:white; padding-left :15px">Qdoc</a></h1>
    </nav>
    <div class="page-container">
        @Body
    </div>
</div>
