@inject IChatService ChatService
@inject IConnectedClientService ConnectedClientService

@if(null == ConnectedClientService?.Client){
    <p>waiting for connection...</p>
}else{
    
    
    <img src="@_qRCodeBase64"/>
      <h1 class="h3 mb-3 font-weight-normal">Scan QrCode Or Input Code</h1>
      <h1>Code: @this.User.Username</h1>
      
      
}

@code{
    //private UserModel _login;
    private string _qRCodeBase64 = "";
    protected override void OnInitialized()
    {

        //_login = new UserModel();
        this.User = new UserModel(ChatHelper.RandomString(5));
        _qRCodeBase64 = "data:image/jpg;base64," + QRCode.UrlToQRCode("https://localhost:5001/?id="+ this.User, QRCode.ECCLevel.H);
    }



    public UserModel User { get; private set; }
}