@inject IChatService ChatService

<div class="msg-form-container row">
    <div class="col">
        <EditForm Model=@_newMessage OnValidSubmit="HandleValidSubmit">
            <div class="form-group row">                
                <div class="col mb-2">
                    <InputText id="message" @bind-Value=_newMessage.Text
                        class="form-control" placeholder="type your message here..." />
                </div>                
                <div class="col-2">
                    @if(!_sending){
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-comment"></i></button>
                    }
                </div> 
            </div>                       
        </EditForm>
    </div>
</div>

@code{
    [Parameter]
    public UserModel LoggedUser { get; set; }
    [Parameter]
    public UserModel ScanedUser { get; set; }

    private PostMessageViewModel _newMessage = new PostMessageViewModel();
    private bool _sending;

    protected override void OnInitialized()
    {
        _sending = false;
    }


    private async Task HandleValidSubmit()
    {
        _sending = true;
        if (this.ScanedUser != null && this.ScanedUser.Username != null)
        {
            await ChatService.PostMessageAsync(this.LoggedUser, this.ScanedUser.Username, _newMessage.Text);
        }
        else
        {
            await ChatService.PostMessageAsync(this.LoggedUser, _newMessage.Text);
        }
        _newMessage = new PostMessageViewModel();
        _sending = false;
    }

 
}