@inject IChatService ChatService

<div class="msg-form-container">
	<EditForm Model=@_newMessage OnValidSubmit="HandleValidSubmit">
		<div class="form-group w-100">
			<div class="d-flex flex-wrap align-items-center gap-2">
				@if (AllowGetReceiverUsername)
				{
					<InputText id="device" @bind-Value=@ReceiverUsername
							   class="form-control flex-fill" placeholder="کد دستگاه گیرنده" />
				}
				<InputText id="message" @bind-Value=_newMessage.Text
						   class="form-control flex-fill" placeholder="پیام خود را بنویسید..." />
				@if (!_sending)
				{
					<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-comment"></i></button>
				}
			</div>
		</div>
	</EditForm>
</div>

@code {
	[Parameter]
	public UserModel LoggedUser { get; set; }
	[Parameter]
	public string ReceiverUsername { get; set; }

	[Parameter]
	public bool AllowGetReceiverUsername { get; set; } = false;

	private PostMessageViewModel _newMessage = new PostMessageViewModel();
	private bool _sending;

	protected override void OnInitialized()
	{
		_sending = false;
	}


	private async Task HandleValidSubmit()
	{
		_sending = true;
		if (!string.IsNullOrEmpty(this.ReceiverUsername))
		{
			await ChatService.PostMessageAsync(this.LoggedUser, this.ReceiverUsername + "", _newMessage.Text);
		}
		else
		{
			await ChatService.PostMessageAsync(this.LoggedUser, _newMessage.Text);
		}
		_newMessage = new PostMessageViewModel();
		_sending = false;
	}


}