@inject IChatService ChatService

<div class="msg-form-container">
	<EditForm Model=@_newMessage OnValidSubmit="HandleValidSubmit">
		<div class="form-group w-100">
			<div class="message-input-wrapper">
				@if (AllowGetReceiverUsername)
				{
					<div class="receiver-input-wrapper">
						<i class="fa fa-user"></i>
						<InputText id="device" @bind-Value=@ReceiverUsername
								   class="form-control receiver-input" placeholder="کد گیرنده (اختیاری)" />
					</div>
				}
				<div class="message-input-group">
					<InputText id="message" @bind-Value=_newMessage.Text
							   class="form-control message-input" placeholder="پیام خود را بنویسید..." />
					@if (!_sending)
					{
						<button type="submit" class="btn btn-primary send-button" title="ارسال">
							<i class="fa fa-paper-plane"></i>
						</button>
					}
					else
					{
						<button type="button" class="btn btn-primary send-button" disabled>
							<i class="fa fa-spinner fa-spin"></i>
						</button>
					}
				</div>
			</div>
		</div>
	</EditForm>
</div>

@code {
	[Parameter]
	public UserModel LoggedUser { get; set; }
	[Parameter]
	public string ReceiverUsername { get; set; }

	[Parameter]
	public string ChatId { get; set; }

	[Parameter]
	public bool AllowGetReceiverUsername { get; set; } = false;

	private PostMessageViewModel _newMessage = new PostMessageViewModel();
	private bool _sending;

	protected override void OnInitialized()
	{
		_sending = false;
	}


	private async Task HandleValidSubmit()
	{
		_sending = true;
		
		try
		{
			// اولویت با ChatId است (چت گروهی)
			if (!string.IsNullOrEmpty(ChatId))
			{
				await ChatService.PostMessageToChatAsync(ChatId, LoggedUser, _newMessage.Text);
			}
			// سپس چت خصوصی
			else if (!string.IsNullOrEmpty(this.ReceiverUsername))
			{
				await ChatService.PostMessageAsync(this.LoggedUser, this.ReceiverUsername, _newMessage.Text);
			}
			// در نهایت پیام عمومی
			else
			{
				await ChatService.PostMessageAsync(this.LoggedUser, _newMessage.Text);
			}
		}
		catch (Exception ex)
		{
			// Log error - می‌توانید به کاربر نمایش دهید
			Console.WriteLine($"Error sending message: {ex.Message}");
		}
		finally
		{
			_newMessage = new PostMessageViewModel();
			_sending = false;
		}
	}


}